.env
.dockerignore
.idea/*
.vscode/launch.json
.vscode/settings.json
.vscode/sftp.json
.vscode/tasks.json
*.pyc
*.sqlite3
agency/__pycache__/*
app/__pycache__/*
app/asgi.py
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
celerybeat.pid
info.log
README.md
redis/dump.rdb